myLocationDB.db
data_collector_main.py
retrive_data/tempCodeRunnerFile.py
kivyenv/
zsample/
temp_data_collection.py
database/tempCodeRunnerFile.py
__pycache__/
ui/test_tkinter.py
tempCodeRunnerFile
example.py
tempCodeRunnerFile.py
.vscode/launch.json
tests/test_empty.db
tests/complex_example.py
tests/test.py
tests/test2.py
src/test_funcs.py
src/test_nor.py
test_o/
.vscode/settings.json
src/settings/config.ini
src/temp_test.py
tests/actual_possible_tests.py
src/database/testMultiDB.db
